@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}
html {
    font-size: 14px;
}

body {
    position: relative;
    margin-bottom: 0px;
    height: 100vh;
}
.box {
    background: #fff;
    border-radius: 4px;
    padding-bottom: 1%;
    max-width : 5%;
}
#footer {
    position: absolute;
    width: 100%;
    bottom: 20px;
    left: 0;
}
#gridCells {
    color: #00ffff;
}
.dark-theme{
    background: black;
    filter: invert(100%);
}
.dark-theme #gridCells {
    color: #0200ff;
}
.dark-theme .box {
    background: #aeaeae !important;
}
